:root {
   --black: #18181a;
   --dark: hsl(240, 4%, 15%);
   --white: #fdfdfb;
   --primary: #145eee;
   --grey: #737b8c;

   --border: 1.5px solid #343442;
}

@import 'globals';

nav {
   border-right: var(--border);
   height: max-content;
   min-height: 100vh;
   position: sticky;
   top: 0;
   left: 0;
   .logo {
      margin: 1rem 1rem 2rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      color: var(--white);
      span {
         width: 2rem;
         height: 2rem;
         background: var(--primary);
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 1.5rem;
      }
      h1 {
         text-transform: uppercase;
         font-weight: 600;
         letter-spacing: 2px;
      }
   }
   .links {
      margin: 0.75rem;
      a {
         display: flex;
         align-items: center;
         gap: 1rem;
         margin-bottom: 1rem;
         color: var(--grey);
         width: 100%;
         height: 2rem;
         position: relative;
         border-radius: 0.5rem;
         padding: 1.125rem 1rem;
         span {
            margin-left: auto;
            display: inline-flex;
            align-items: center;
            i {
               font-size: 1.125rem;
            }
         }
         &.active {
            color: var(--primary);
            filter: drop-shadow(0 0 0.5rem var(--primary));
         }
         cursor: pointer;
         i {
            font-size: 1rem;
         }
         h3 {
            font-size: 0.85rem;
            font-weight: 500;
            text-transform: capitalize;
         }
      }
      .dropdown {
         > a {
            margin-bottom: 0.25rem;
            width: 100%;
            background: #145eee25;
            color: var(--primary);
            filter: drop-shadow(0 0 0.5rem var(--primary));
            &::before {
               content: '';
               position: absolute;
               width: 0.25rem;
               height: 65%;
               left: 0;
               border-radius: 0.25rem;
               background: var(--primary);
            }
         }
         a {
            margin-bottom: 0.5rem;
         }
         &-link {
            margin-left: 1rem;
            margin-bottom: 2rem;
         }
      }
   }
   .controls {
      @extend .links;
      margin-top: 3rem;
   }
}

main {
   padding: 0 1.5rem;
   height: 200vh;
   header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 4rem;
      .user {
         span {
            font-size: 1.25rem;
            cursor: pointer;
            display: inline-flex;
            padding: 0.35rem;
            border-radius: 0.5rem;
            &:hover {
               background: var(--dark);
            }
         }
         .profile {
            p {
               font-size: 0.85rem;
            }
            i {
               font-size: 1.5rem;
               cursor: pointer;
            }
         }
      }
   }

   .top {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
      margin-bottom: 1rem;
      .banner {
         position: relative;
         grid-column: 1 / span 2;
         border-radius: 1rem;
         background-image: url(../img/lol.jpg);
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         grid-row: 1 / span 2;
         .icons {
            display: flex;
            gap: 0.5rem;
            position: absolute;
            top: 1rem;
            left: 1rem;
            i {
               display: inline-flex;
               justify-content: center;
               align-items: center;
               width: 1.5rem;
               border-radius: 0.5rem;
               aspect-ratio: 1/1;
               background: var(--black);
            }
         }
         .friends {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            .profile {
               img {
                  background: var(--dark);
               }
               &:not(:first-child) img {
                  margin-left: -0.75rem;
               }
            }
            i {
               display: inline-flex;
               align-items: center;
               justify-content: center;
               width: 2rem;
               aspect-ratio: 1/1;
               background: var(--dark);
               border-radius: 50%;
               margin-left: 0.5rem;
               cursor: pointer;
               color: var(--primary);
            }
         }
      }
      .description {
         background: var(--dark);
         padding: 1rem;
         border-radius: 1rem;
         h2 {
            text-transform: capitalize;
            font-weight: 600;
         }
         p {
            color: var(--grey);
            text-transform: capitalize;
            margin-bottom: 1rem;
            font-weight: 500;
         }
         .tag {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            margin: 0 1rem 0.75rem 0;
            background: #343442;
            padding: 0.25rem 0.5rem;
            font-size: 0.85rem;
            border-radius: 0.5rem;
         }
         button{
            width: 100%;
            margin-top: 0.75rem;
         }
      }
      .overview{
         display: flex;
         align-items: center;
         gap: 0.5rem;
         margin-top: 1rem;
         img{
            width: 100%;
            height: 6rem;
            border-radius: 1rem;
            background: var(--dark);
            object-fit: fill;
         }
      }
   }
}
